@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
  }

body {
    background-color: #CCC9E7;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2E3138;
    font-family: 'Shadows Into Light', cursive;
}

h2 {
    line-height: 10px;
    margin-top: 0px;
    margin-bottom: -30px;
}

.container {
    width: 600px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.userChoices img, .computerChoice img {
    opacity: 70%;
    margin-top: 10px;
}
.userChoices {
    width: 140px;
    height: 140px;
    border: solid 2px #2E3138;
    border-radius: 4px;
    margin: 10px;
    margin-bottom: -30px;
}

.userChoices:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.userChoices img {
    width: 120px;
}

.keys {
    background: #2E3138;
    color: #CCC9E7;
    margin: 10px;
    width: 140px;
    height: 50px;
    border-radius: 4px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.keys p {
    margin-top: 12px;
}

.computerChoiceContainer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: -30px;
}

.computerChoice {
    width: 140px;
    height: 140px;
    border: solid 2px #2E3138;
    border-radius: 4px;
}

.computerChoice img {
    width: 100px;
}


.result {
    width: 100%;
    height: 70px;
    font-size: 30px;
    margin-top: -75px;
    font-family: 'Shadows Into Light', cursive;
}

.reset {
    background: #2E3138;
    color: #CCC9E7;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    border: none;
    margin-top: -15px;
}